/MainModule/MainModule/obj/Debug/net6.0/apphost.exe
/MainModule/MainModule/obj/Debug/net6.0/MainModule.csproj.CopyComplete
/MainModule/MainModule/obj/Debug/net6.0/MainModule.csproj.CoreCompileInputs.cache
/MainModule/MainModule/obj/Debug/net6.0/MainModule.csproj.FileListAbsolute.txt
/MainModule/MainModule/bin/Debug/net6.0/MainModule.deps.json
/MainModule/MainModule/bin/Debug/net6.0/ref/MainModule.dll
/MainModule/MainModule/bin/Debug/net6.0/MainModule.dll
/MainModule/MainModule/obj/Debug/net6.0/ref/MainModule.dll
/MainModule/MainModule/obj/Debug/net6.0/MainModule.dll
/MainModule/MainModule/bin/Debug/net6.0/MainModule.exe
/MainModule/MainModule/obj/Debug/net6.0/MainModule.genruntimeconfig.cache
/MainModule/MainModule/bin/Debug/net6.0/MainModule.pdb
/MainModule/MainModule/obj/Debug/net6.0/MainModule.pdb
/MainModule/MainModule/bin/Debug/net6.0/MainModule.runtimeconfig.json
/MainModule/MainModule/bin/Debug/net6.0/Submodule.deps.json
/MainModule/MainModule/bin/Debug/net6.0/Submodule.dll
/MainModule/MainModule/bin/Debug/net6.0/Submodule.exe
/MainModule/MainModule/bin/Debug/net6.0/Submodule.pdb
/MainModule/MainModule/bin/Debug/net6.0/Submodule.runtimeconfig.json
